#contact form {
  text-align: center;
}

.textInput {
  outline: none;
  border: none;
  border-bottom: 2px solid #4ab9ec;
  background: none;
  color: white;
  padding: 5px;
  width: 450px;
  height: 50px;
}

.customBtn {
  width: 450px;
  color: white;
  font-weight: bolder;
  background: #4ab9ec;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

textarea.textInput {
  height: 100px;
}

@media (max-width: 480px) {

  .textInput,
  .customBtn {
    width: 100%;
  }
}