.grid-layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-column: 20px;
  width: 100%;
  margin-top: 1rem;
}

.grid-item,
.skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  flex-direction: column;
  margin: 20px;
}

.skill-logo {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}

.skill-title {
  margin-top: 7px;
  font-size: 17px;
  cursor: default;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

@media (max-width: 780px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column: 20px;
    width: 100%;
    margin-top: 1rem;
  }

  .skill-logo {
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
  }

  .skill-title {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0;
  }
}