.grid-layout {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-column: 20px;
  width: 100%;
  margin-top: 1rem;
}

.grid-item,
.skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  flex-direction: column;
  margin: 20px;
}

.skill-logo {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}

.skill-title {
  margin-top: 7px;
  font-size: 15px;
  cursor: default;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}