:root {
	--PRIMARY_BLUE: #0a1932;
	--PRIMARY_BLUE_SHADOW: #325185;
	/* --PRIMARY_BLUE : #1E314F; */
	/* --PRIMARY_BLUE : #081B33; */
	/* --PRIMARY_BLUE : #15202B; */
	/* --PRIMARY_BLUE_SHADOW: #4c4880; */
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	/* list-style: none; */
	box-sizing: border-box;
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family: 'Caveat', cursive; */
	font-family: 'Inconsolata', monospace;
	scroll-behavior: smooth;
}

body {
	background-color: #142440;
	color: white;
	min-height: 100vh;
	position: relative;
	padding-bottom: 50px;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
}

.introText {
	font-size: xx-large;
	margin-top: 20px;
	text-align: center;
}

.percentageBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 10px;
	text-align: center;
	font-size: small;
}

.progress {
	height: 10px;
	background-color: var(--PRIMARY_BLUE_SHADOW);
	border-radius: 2px;
}

.header {
	/* font-family: 'Permanent Marker', cursive; */
	font-weight: bolder;
	text-decoration: underline;
}

.textInput {
	outline: none;
	border: none;
	border-bottom: 2px solid #4ab9ec;
	background: none;
	color: white;
	padding: 5px;
	width: 450px;
	height: 50px;
}

textarea.textInput {
	height: 100px;
}

.customBtn {
	width: 450px;
	color: white;
	font-weight: bolder;
	background: #4ab9ec;
	outline: none;
	border: none;
	padding: 5px;
	border-radius: 4px;
}

@media (max-width: 480px) {
	#about {
		margin-top: 50px;
	}

	.fst :nth-child(5) {
		margin-bottom: 0;
	}

	.textInput,
	.customBtn {
		width: 100%;
	}

	.percentageBar {
		margin: 30px 0;
	}
}

#contact form {
	text-align: center;
}

ol,
ul {
	padding-left: 0;
}

.scrollPos {
	padding: 2px;
	background-color: #348eb8;
	transition: 0.3s ease;
	width: 0;
}

.bullet-list {
	list-style-type: disc !important;
	padding-left: 20px;
}